@model BookStore.Models.ViewModels.EmployeeVm

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6 d-flex">
                    <i class="fa-solid fa-circle-plus" style="color: #7366ff ; font-size:30px"></i>
                    <h4 class="fw-bold" style="color: #7366ff ">&nbsp;&nbsp;新增職員</h4>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="~/WeHome/Index">
                                <svg class="stroke-icon">
                                    <use href="~/svg/icon-sprite.svg#stroke-home"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="breadcrumb-item"><a href="~/Employee/Index">職員帳號管理</a></li>
                        <li class="breadcrumb-item active"><a href="~/Employee/Create">新增職員</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <!-- 將卡片置中 -->
            <div class="col-xl-6">
                <!-- 將這個 div 移到這裡 -->
                <div class="card">
                    <div class="card-body card-wrapper input-radius">
                        <div class="row">
                            <div class="col">
                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.RadioButtonFor(model => model.Gender, true, new { @id = "Gender1", @name = "Gender" })
                                            <label for="Gender1" class="me-2">男生</label>
                                            @Html.RadioButtonFor(model => model.Gender, false, new { @id = "Gender0", @name = "Gender" })
                                            <label for="Gender0">女生</label>    <br />
                                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.GroupId, "職位", new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.GroupId, (SelectList)ViewBag.GroupOptions, "請選擇職位", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.GroupId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Account, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="新增" class="btn btn-primary  m-r-15" />
                                            @Html.ActionLink("取消新增", "Index", null, new { @class = "btn btn-light" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    }



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
