@model BookStore.Models.ViewModels.MemberVm

@{
    ViewBag.Title = "編輯會員";
}
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6 d-flex">
                <i class="fa-solid fa-pen-to-square" style="color: #B197FC; font-size:30px"></i>
                <h4 class="fw-bold" style="color: #7366ff ">&nbsp;&nbsp;@ViewBag.Title</h4>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~/WeHome/Index">
                            <svg class="stroke-icon">
                                <use href="~/svg/icon-sprite.svg#stroke-home"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="breadcrumb-item"><a href="~/Member/Index">會員管理</a></li>
                    <li class="breadcrumb-item active"><a href="~/Member/Edit">編輯會員</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body card-wrapper input-radius">
                        <div class="row">
                            <div class="col">
                                <div class="form-horizontal">
                                    
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.Id)

                                    <!-- 姓名 -->
                                    <div class="mb-3 m-form__group">
                                        @Html.LabelFor(model => model.Name, "姓名", new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <!-- 性別 -->
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Gender, "性別", new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.RadioButtonFor(model => model.Gender, true) 男
                                            @Html.RadioButtonFor(model => model.Gender, false) 女
                                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <!-- 生日 -->
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.DateOfBirth, "{0:yyyy-MM-dd}", new { @class = "form-control", @id = "DateOfBirth", @type = "date" })
                                            @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                    <!-- 電子郵件 -->
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Email, "電子郵件", new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <!-- 密碼（只讀且顯示"******"） -->
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Password, "密碼", new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", @readonly = "readonly", @value = "******" })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <!-- 會員等級 -->
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MembersLevel, "會員等級", new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.MembersLevel, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.MembersLevel, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <!-- 地址 -->
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Address, "地址", new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <!-- 電話號碼 -->
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PhoneNumber, "電話號碼", new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <!-- 會員點數 -->
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Points, "會員點數", new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.Points, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Points, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="保存" class="btn btn-primary" />
                                            @Html.ActionLink("返回列表", "Index", null, new { @class = "btn btn-default" })
                                        </div>
                                    </div>
                                </div>


                                <div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />

    <script>
        $(function () {
            $("#DateOfBirth").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:+0", // 提供從今天起往前100年的選擇
                dateFormat: "yy-mm-dd" // 設定日期格式
            });
        });
    </script>
}

